---
layout: default
---

<div class="row">
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="alert alert-danger">
      <p>
        Methods available in the model are called through the controller using PHP5 magic. <br />
        You should never use ion_auth_model->method() in your applications.
      </p>
    </div>

    {% include Reference/Login.html %}
    {% include Reference/Logout.html %}
    {% include Reference/Register.html %}
    {% include Reference/Update.html %}
    {% include Reference/Delete_user.html %}
    {% include Reference/Forgotten_password.html %}
    {% include Reference/Forgotten_password_complete.html %}
    {% include Reference/Logged_in.html %}
    {% include Reference/Is_admin.html %}
    {% include Reference/In_group.html %}
    {% include Reference/Username_check.html %}
    {% include Reference/Email_check.html %}
    {% include Reference/Identity_check.html %}
    {% include Reference/Is_max_login_attempts_exceeded.html %}
    {% include Reference/Get_attempts_run.html %}
    {% include Reference/Increase_login_attempts.html %}
    {% include Reference/Clear_login_attempts.html %}
    {% include Reference/User.html %}
    {% include Reference/Users.html %}
    {% include Reference/Group.html %}
    {% include Reference/Groups.html %}
    {% include Reference/Messages.html %}
    {% include Reference/Messages_array.html %}
    {% include Reference/Get_users_groups.html %}
    {% include Reference/Add_to_group.html %}
    {% include Reference/Remove_from_group.html %}
    {% include Reference/Create_group.html %}
    {% include Reference/Update_group.html %}
    {% include Reference/Delete_group.html %}
    {% include Reference/Set_message_delimiters.html %}
    {% include Reference/Errors.html %}
    {% include Reference/Errors_array.html %}
    {% include Reference/Set_error_delimiters.html %}
    {% include Reference/Set_hook.html %}
    {% include Reference/Trigger_events.html%}

  </div>

  <div class="col-md-3 col-lg-3">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
      <ul class="nav bs-docs-sidenav">
        <li> <a href="#login">login()</a> </li>
        <li> <a href="#logout">logout()</a> </li>
        <li> <a href="#register">register()</a> </li>
        <li> <a href="#update">update()</a> </li>
        <li> <a href="#delete_user">delete_user()</a></li>
        <li> <a href="forgotten_password">forgotten_password() </a></li>
        <li> <a href="forgotten_password_complete">forgotten_password_complete(). </a></li>
        <li> <a href="#logged_in">logged_in() </a></li>
        <li> <a href="#is_admin">is_admin() </a></li>
        <li> <a href="#in_group">in_group() </a></li>
        <li> <a href="#username_check">username_check()</a></li>
        <li> <a href="#email_check">email_check() </a></li>
        <li> <a href="#identity_check">identity_check() </a></li>
        <li> <a href="#is_max_login_attempts_exceeded">is_max_login_attempts_exceeded() </a></li>
        <li> <a href="#get_attempts_num">get_attempts_num() </a></li>
        <li> <a href="#increase_login_attempts">increase_login_attempts() </a></li>
        <li> <a href="#clear_login_attempts">clear_login_attempts() </a></li>
        <li> <a href="#user">user()</a></li>
        <li> <a href="#users">users()</a></li>
        <li> <a href="#group">group() </a></li>
        <li> <a href="#groups">groups()</a></li>
        <li> <a href="#messages">messages() </a></li>
        <li> <a href="#messages_array">messages_array() </a></li>
        <li> <a href="#get_users_groups">get_users_groups() </a></li>
        <li> <a href="#add_to_group">add_to_group</a></li>
        <li> <a href="#remove_from_group">remove_from_group() </a></li>
        <li> <a href="#create_group">create_group() </a></li>
        <li> <a href="#update_group">update_group() </a></li>
        <li> <a href="#delete_group">delete_group() </a></li>
        <li> <a href="#set_message">set_message_delimiters() </a></li>
        <li> <a href="#errors">errors() </a></li>
        <li> <a href="#errors_array">errors_array() </a></li>
        <li> <a href="#set_error">set_error_delimiters() </a></li>
        <li> <a href="#set_hook">set_hook()</a></li>
        <li> <a href="#trigger_events">trigger_events() </a></li>
      </ul>
    </nav>
  </div>
</div>
