<!DOCTYPE html>
<html lang="nl">
  <head>
    <title> Ion Auth | Docs </title>

    <!-- Meta -->

    <!-- StyleSheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/costum.css">

  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ion Auth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="Installation.html">Installation</a></li>
            <li><a href="Reference.html">Reference </a></li>
            <li><a href="License.html">License</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- The page -->
    <div class="container">
      {{ content }}
    </div>

    <!-- JavaScript -->
    <script src=""></script>
    <script src=""></script>
  </body>
</html>
